# DATA STRUCTURES:
 - LIST
 - TUPLE
 - DICTIONARY
 - IT WILL STORE DATA IN SOME PARTICULAR DATA STRUCTURE
 - SOTING
 - SEARCHING
 - STORING

In [1]:
l = [1,2,3,4,5,6,7]
print(l)

[1, 2, 3, 4, 5, 6, 7]

In [2]:
# access 1st element
print(l[0])
print(l[-7])

1
1

In [4]:
# access the range of elements
print(l[0:5])
print(l[1:4])

[1, 2, 3, 4, 5]
[2, 3, 4]

# update the elements

In [5]:
l = [1,2,3,4,5,6,7]
print(l)
l[2]=10
print(l)

[1, 2, 3, 4, 5, 6, 7]
[1, 2, 10, 4, 5, 6, 7]

In [7]:
# update range of elements:
l = [1,2,3,4,5,6,7]
print(l)
l[0:2]= [9,8,7]
print(l)

[1, 2, 3, 4, 5, 6, 7]
[9, 8, 7, 3, 4, 5, 6, 7]

# list methods:

## insert method:
- it inserts items in specified index

In [8]:
l = [1,2,3,4,5,6,7]
l.insert(4,"SINDU")
print(l)

[1, 2, 3, 4, 'SINDU', 5, 6, 7]

## append method
- add an item in the end of the list

In [9]:
l = [1,2,3,4,5,6,7]
l.append(94)
print(l)

[1, 2, 3, 4, 5, 6, 7, 94]

In [11]:
l = [1,2,3,4,5,6,7]
l.append(230)
print(l)

[1, 2, 3, 4, 5, 6, 7, 230]

## EXTEND LIST:
- APPEND ELEMENTS FROM ANOTHER LIST TO CURRENT LIST

In [14]:
l = [1,2,3,4,5,6,7]
l1 = [8,9,10]
l.extend (l1)
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [17]:
l = [1,2,3,4,5,6,7]
l1 = [12,13,14]
l1.extend (l)
print(l1)

[12, 13, 14, 1, 2, 3, 4, 5, 6, 7]

## remove method:
- it removes elements from the list

In [18]:
l = [1,2,3,4,5,6,7]
l.remove(6)
print(l)

[1, 2, 3, 4, 5, 7]

## pop method:
- it removes specified index

In [19]:
l = [1,2,3,4,5,6,7]
l.pop(5)
print(l)

[1, 2, 3, 4, 5, 7]

## DEL Keyword
- it removes specified index

In [25]:
l = [1,2,3,4,5,6,7]
del l[2]
print(l)

[1, 2, 4, 5, 6, 7]

## clear method:
- it empties the list

In [22]:
l = [1,2,3,4,5,6,7]
l.clear()
l

[]

# sort method:
- it will sort the list in ascending order

In [24]:
l = [5,3,9,6,89,56,23,94,93]
l.sort()
l

[3, 5, 6, 9, 23, 56, 89, 93, 94]

# REVERSE METHOD:

In [26]:
l = [1,2,3,4,5,6,7]
l.reverse()
print(l)

[7, 6, 5, 4, 3, 2, 1]

# copy method:

In [27]:
l = [1,2,3,4,5,6,7]
l1 = l.copy()
print(l1)

[1, 2, 3, 4, 5, 6, 7]

## Count():

In [29]:
l = [1,2,3,4,5,6,7,4]
l1 = l.count(4)
print(l1)

2

## INDEX:

In [31]:
l = [1,2,3,4,5,6,7]
l1 = l.index(5)
print(l1)

4

In [32]:
l = [1,2,3,4,5,6,7]
# length of list
print(len(l))
print(max(l)) # maximum number
print(min(l)) # minimum number
print(sum(l))
# average
print(sum(l)/len(l))

7
7
1
28
4.0

## TUPLE:
- IT CANNOT BE CHANGED OR MODIFIED
- TUPLE ENCLOSED WITH ROUND BRACKETS AND ITEMS ARE SEPERATED BY COMMAS

# DIFFERENCE BETWEEN LIST AND TUPLE
-

In [33]:
t = (1,2,3,4,5,6,7)
print(t)

(1, 2, 3, 4, 5, 6, 7)

In [34]:
# access the range elements
t = (1,2,3,4,5,6,7)
print(t[2:6])

(3, 4, 5, 6)

In [35]:
# access the elements
t = (1,2,3,4,5,6,7)
print(t[0])

1

In [38]:
# update
l = (1,2,3,4,5,6,7)
t1 = list(t)
print(t)
t1[5] = 94
t = tuple(t1)
print(t)

(1, 2, 3, 4, 5, 6, 7)
(1, 2, 3, 4, 5, 94, 7)

In [45]:
# append
t = (1,2,3,4,5,6,7)
t1 = list(t)
print(t1)
t1.append(94)
t = tuple(t1)
print(t)

[1, 2, 3, 4, 5, 6, 7]
(1, 2, 3, 4, 5, 6, 7, 94)

In [46]:
# extend
t = (1,2,3,4,5,6,7)
t1 = list(t)
print(t1)
t2 = (8,9,10)
t1.extend(t2)
t = tuple(t1)
print(t)

[1, 2, 3, 4, 5, 6, 7]
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [47]:
# remove method
t = (1,2,3,4,5,6,7)
t1 = list(t)
print(t1)
t1.remove(4)
t = tuple(t1)
print(t)

[1, 2, 3, 4, 5, 6, 7]
(1, 2, 3, 5, 6, 7)

In [48]:
# pop method
t = (1,2,3,4,5,6,7)
t1 = list(t)
print(t1)
t1.pop(6)
t = tuple(t1)
print(t)

[1, 2, 3, 4, 5, 6, 7]
(1, 2, 3, 4, 5, 6)

In [51]:
# del method
t = (1,2,3,4,5,6,7)
t1 = list(t)
print(t1)
del t1[4]
t = tuple(t1)
print(t)

[1, 2, 3, 4, 5, 6, 7]
(1, 2, 3, 4, 6, 7)

In [53]:
# clear method
t = (1,2,3,4,5,6,7)
t1 = list(t)
t1.clear()
t = tuple(t1)
print(t)

()

In [55]:
# sort method
t = (5,1,2,3,4,8,6,7)
t1 = list(t)
t1.sort()
t = tuple(t1)
print(t)

(1, 2, 3, 4, 5, 6, 7, 8)

In [56]:
# reverse method
t = (1,2,3,4,5,6,7)
t1 = list(t)
t1.reverse()
t = tuple(t1)
print(t)

(7, 6, 5, 4, 3, 2, 1)

In [57]:
# copy method
t = (1,2,3,4,5,6,7)
t1 = list(t)
t2 = t1.copy()
t = tuple(t2)
print(t)

(1, 2, 3, 4, 5, 6, 7)

In [63]:
# index method
t = (1,2,3,4,5,6,7)
t1 = list(t)
t2 = t1.index(5)
t = tuple(t2)
print(t)

TypeError: 'builtin_function_or_method' object is not subscriptable

In [65]:
# count
t = (1,2,3,4,5,6,7,1)
t1 = list(t)
t2 = t1.count(1)
t = tuple(t2)
print(t)

TypeError: 'int' object is not iterable